.termHead {
  font-size: 25px;
  font-weight: bold;
  font-family: "PP Object sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #211a1e;
  line-height: 28px;
  text-align: justify;
}
.termsh1 {
  font-size: 18px;
  font-weight: 600;
  font-family: "PP Object sans", sans-serif;
  font-style: normal;
  text-align: justify;
  color: #211a1e;
  line-height: 21px;
}
.termsP {
  font-size: 16px;
  padding: 0px 20px;
  font-family: "PP Object sans", sans-serif;
  font-style: normal;
  text-align: justify;
  color: #211a1e;
  line-height: 20px;
}

@media (min-width: 487px) and(max-width:768px) {
  .termHead {
    font-size: 22px;
    line-height: 24px;
  }
  .termsh1 {
    font-size: 16px;
    line-height: 18px;
  }
  .termsP {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 486px) {
  .termsCol1 {
    display: none;
  }
  .termHead {
    font-size: 18px;
    line-height: 20px;
  }
  .termsh1 {
    font-size: 15px;
    line-height: 17px;
  }
  .termsP {
    font-size: 13px;
    line-height: 16px !important;
  }
}
