.dropdown:hover .secMakeup {
  display: block; /* Make dropdown visible */
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* No shift */
}

@media screen and (min-width: 991px) {
  .secMakeup {
    width: 90vw;
    transform: translate3d(-95px, 4px, 0) !important;
  }
}
