.dropdown:hover .skinMenu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 991px) {
  .skinMenu {
    width: 90vw;
    transform: translate3d(-150px, 4px, 0) !important;
  }
}
