.orderMain {
  margin-bottom: 150px !important;
}

.col1BorderOne {
  height: 460px;
  border: 1px solid black;
  border-radius: 10px;
}
.col2BorderTwo {
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
}
.couP3 {
  font-family: PP Object sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #211a1e;
  font-size: 14px;
  line-height: 160%;
}
.couP4 {
  font-family: PP Object sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #afafaf;
  font-size: 13px;
}
.couP5 {
  font-family: PP Object sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #afafaf;
  font-size: 14px;
}
.modelFLabel {
  font-family: PP Object sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #afafaf;
  font-size: 13px;
}
.IoStyle {
  font-family: PP Object sans, sans-serif;
  font-style: normal;
  font-weight: 300;

  color: #353033 !important;
  font-size: 13px;
}
.copBorder {
  width: auto;
  height: auto;
  background: #ededed;
  border-radius: 8px;
  padding: 3px 15px;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  font-weight: 400;

  text-transform: capitalize;
  text-overflow: ellipsis;
  flex-grow: 1;
}
.shipBorder {
  width: auto;
  height: auto;
  background-color: #f7f7f7;
  padding: 16px;
  border-radius: 4px;
}
.shipImg {
  padding: 10px;
  border: 1px solid #dbdadb;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  background: #fff;
}
.formAddreess {
  overflow-y: scroll;
  height: 80vh;
  position: absolute;
  z-index: 1;
  width: 95%;
}

.defaultBtn {
  background: #481db6;
  border: none;
  font-size: 16px;
  color: white;
  padding: 5px 10px;
  height: auto;
  width: auto;
  border-radius: 5px;
}
.setBefaultBtn {
  background: #e1d6fc;
  border: none;
  font-size: 16px;
  color: #211a1e;
  padding: 5px 10px;
  height: auto;
  width: auto;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .payObtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 486px) {
  .couP5 .couP4 .couP3 {
    font-size: 13px;
  }
  .totalPayP {
    font-weight: 400;
    font-size: 12px;
    color: #7b6f76;
  }
  .totalPayh1 {
    font-weight: 500;
    font-size: 16px;
    color: #211a1e;
    font-weight: 500;
  }
  .totalPayh2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #acacac;
  }

  .defaultBtn,
  .setBefaultBtn {
    font-size: 14px;

    padding: 3px 7px;
  }
}
