.pdtStar {
  font-size: 18px;
  color: rgb(229, 133, 133);
  font-weight: bold;
}
.pdtMainTxt,
.pdtText,
.pdtSaveAdd {
  color: #000;
  font-weight: 500;
  font-family: PP Object sans, sans-serif;

  max-width: 90%;
  font-size: 15px;
}
.pdtGet {
  font-size: 16px !important;
  font-weight: 500;
  font-family: PP Object sans, sans-serif;
}
.IoShareIcon {
  font-size: 22px;
  color: #000;
}
.pdtMainTxt {
  font-size: 25px;
  font-weight: 601;
}

.pdtSaveAdd {
  font-size: 20px;
}

.pdtText {
  font-size: 15px;
}
.pdtSpan {
  font-size: 15px;
  color: rgb(187, 187, 187) !important;
  font-weight: 500;
  font-family: PP Object sans, sans-serif;
  -webkit-line-clamp: 1;
  max-width: 90%;
  -webkit-box-orient: vertical;
}
.pdtCity {
  font-size: 15px;
  color: rgb(103, 100, 100) !important;
  font-weight: 500;
  font-family: PP Object sans, sans-serif;
  -webkit-line-clamp: 1;
  max-width: 90%;
  -webkit-box-orient: vertical;
}
.pdtHead {
  font-size: 22px;
  color: #211a1e;
  font-weight: 500;
  font-family: PP Object sans, sans-serif;
  -webkit-line-clamp: 1;
  max-width: 90%;
  -webkit-box-orient: vertical;
}
.secpdtHead {
  font-size: 20px;
  color: rgb(110, 105, 105);
  font-weight: 500;
  font-family: PP Object sans, sans-serif;
  -webkit-line-clamp: 1;
  max-width: 90%;
  -webkit-box-orient: vertical;
}
.pdtOffer {
  font-size: 20px;
  color: #2d2a2b;
  font-weight: 500;
  font-family: PP Object sans, sans-serif;
  -webkit-line-clamp: 1;
  max-width: 90%;
  -webkit-box-orient: vertical;
}
.pdtBtn,
.pdtSaveBtn {
  width: auto;
  height: auto;
  font-size: 14px;
  line-height: 140%;
  overflow: hidden;
  font-weight: 500;
  border-radius: 5px;
  font-family: PP Object sans, sans-serif;
  -webkit-line-clamp: 1;
  max-width: 90%;
  -webkit-box-orient: vertical;
}
.pdtBtn {
  width: 60% !important;
  color: #fff;
  background-color: #000000;
  padding: 15px 70px;
  font-size: bold;
}
.pdtSaveBtn {
  background-color: #fff;
  color: #211a1e;
  padding: 5px 30px;
}
.offerViewBg {
  width: auto;
  height: auto;
  background: linear-gradient(
    to right,
    rgb(250, 223, 223) 30%,
    rgb(255, 243, 243)
  );
  padding: 5px 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.offetVp {
  width: auto;
  height: auto;
  background: rgb(255, 243, 243);
  padding: 3px;
  border-radius: 10px;
  margin-top: 10px;
}

.offvBtn {
  border: none;
  font-size: 16px;
  color: #2d2a2b;
  font-weight: 500;
  font-family: PP Object sans, sans-serif;
  -webkit-line-clamp: 1;
  max-width: 90%;
  -webkit-box-orient: vertical;
  background: none;
}
.pdtCheckbg {
  width: auto;
  height: auto;
  background: rgb(236, 236, 236);
  padding: 5px 50px;
  border-radius: 20px;
}
.pdtcheck1 {
  color: rgb(236, 236, 236);
  font-size: 22px !important;
}
.pdtcheck {
  background: rgb(236, 236, 236);
  color: #000;
  font-size: 22px !important;
}
.pdtdelBorder {
  width: auto !important;
  height: auto !important;
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
}
.pdtLocIcon,
.pdtDelivery {
  font-size: 18px;
  color: #2d2a2b;
  font-weight: 500;
  font-family: PP Object sans, sans-serif;
  font-style: bold;
}

.pdtLocIcon {
  width: auto;
  height: 35px;
  background: rgb(236, 236, 236);
  border-radius: 8px;
  padding: 5px;
}
.pdtFbg {
  width: auto;
  height: auto;
  background: rgb(236, 236, 236);
  border-radius: 8px;
  padding: 5px;
}

.pdtFree {
  font-size: 18px !important;
  color: #2d2a2b;
  font-weight: 501;
  font-family: PP Object sans, sans-serif;
  font-style: bold;
}

.pdtFaStar {
  color: rgb(149, 60, 60);
  font-size: 24px;
}
.pdtEmpty {
  color: "";
  font-size: 24px;
}
/* .pdtFaStar:hover {
  background: rgb(149, 60, 60) !important;
} */

.shadeBorder {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgb(110, 105, 105);
  cursor: pointer;
}

.shadeBorder.active {
  border: 2px solid blue;
}
.shadeColor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.shadeSelect {
  width: auto;
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgb(110, 105, 105);
  cursor: pointer;
  padding: 0px 10px;
}

.selectText {
  color: #000;
  font-weight: 500;
  font-family: "PP Object sans", sans-serif;

  font-size: 15px;
}
.shadeSize {
  width: auto;
  height: 10px !important;
}
.shadeSelect.active {
  border: 2px solid blue;
}

.revCamera {
  width: auto;
  height: auto;

  overflow: hidden;
  font-weight: 500;
  border: none;

  color: rgb(110, 105, 105);
  background-color: rgb(233, 227, 227);
  border-radius: 10px;
  padding: 8px 20px;
  font-size: bold;
}

.revSubmit {
  width: auto;
  height: auto;
  font-size: 18px;
  line-height: 140%;
  overflow: hidden;
  font-weight: 500;

  font-family: PP Object sans, sans-serif;

  color: #fff;
  background-color: #211a1e;
  padding: 8px 40px;
  font-size: bold;
}

/* change Loc */

.locModelBg1 {
  width: auto;
  height: auto;
  background: rgb(233, 227, 227);
  padding: 10px;
  border-radius: 10px;
}
.locIcon1 {
  width: auto;
  height: auto;
  background: #211a1e;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
@media (min-width: 990px) and (max-width: 1200px) {
  .pdtBtn {
    width: 47% !important;
    padding: 15px 21px;
  }
  .pdtCheckbg {
    padding: 2px 23px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .pdtCheckbg {
    padding: 5px 9px;
  }
  .pdtBtn {
    width: 37% !important;

    padding: 19px 0px;
  }
  .pdtSaveBtn {
    padding: 8px 19px;
  }
}

@media (min-width: 487px) and (max-width: 786px) {
  .revCamera {
    padding: 5px 15px;
  }

  .revSubmit {
    font-size: 15px;

    padding: 5px 25px;
    font-size: bold;
  }
}
@media (max-width: 486px) {
  .pdtBtn {
    width: 38% !important;
    padding: 6px 3px;
    font-size: 13px;
  }
  .pdtCheckbg {
    padding: 0px 5px;
    font-size: 13px;
  }

  .pdtSaveBtn {
    padding: 5px 10px;
    font-size: 13px;
  }
  .pdtdelBorder {
    padding: 5px;
  }
  .pdtMainTxt {
    font-size: 20px;
  }
  .pdtHead {
    font-size: 18px;
  }
  .secpdtHead,
  .pdtOffer {
    font-size: 15px;
  }
  .pdtFree,
  .pdtGet {
    font-size: 13px !important;
  }
  .pdtText {
    font-size: 14px;
  }
  .pdtFaStar {
    font-size: 14px !important;
  }
  .pdtLocIcon,
  .pdtDelivery {
    font-size: 15px;
  }
  .pdtSpan {
    font-size: 13px;
  }

  .shadeBorder {
    width: 25px;
    height: 25px;
  }

  .shadeBorder.active {
    border: 1px solid blue;
  }
  .shadeColor {
    width: 15px;
    height: 15px;
  }

  .selectText {
    font-size: 11px;
  }
  .shadeSelect {
    padding: 0px 5px;
    border-radius: 7px;
  }
  .pdtFaStar .pdtEmpty {
    font-size: 18px;
  }

  .offerViewBg {
    width: auto;
    height: auto;
    background: linear-gradient(
      to right,
      rgb(250, 223, 223) 30%,
      rgb(255, 243, 243)
    );
    padding: 3px 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .revCamera {
    padding: 3px 10px;
  }
  .revSubmit {
    font-size: 13px;
    padding: 8px 17px;
    font-size: bold;
  }
  .pdtSaveAdd {
    font-size: 15px;
  }
}
