.navtira {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 500;
  color: rgb(245, 45, 45);
}
.logoImg {
  width: 80px;
  height: auto;
}
.fLogoImg {
  width: 100px;
  height: auto;
}
.tiraNavMenu {
  border-radius: 0px 0px 10px 10px;
  padding: 0.5em;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}
.tiraNavMenu ul {
  list-style: none;
  padding: 0;
}
/* .tiraNavMenu:hover {
  display: flex;

  gap: 15px;
} */
.tiraNavMenu li a {
  color: gray;
  padding: 0.5rem 1em;
}
.tiraNavMenu li:first-child a {
  font-size: 1.2rem;
  color: #000;
  border: 1px solid black;
  border-radius: 10px;
  width: auto;
  height: auto;
  padding: 10px;
}

.tiraNavMenu li:hover:first-child a {
  background: #000;
  color: #fff;
}
.tiraNavMain a:hover {
  color: red;
}
.tWidth,
.ttWidth {
  border-bottom: 1px solid rgb(106, 105, 105);
  /* box-shadow: 0px 1px 1px rgb(134, 133, 133); */
}

.navBorder {
  position: relative;
  width: max-content;
}

.navBorder:hover::after {
  content: "";
  background: red;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -20px;
  left: 0;
}
.searchSlide {
  max-height: 100vh;
  overflow-y: scroll;
}

.customSearch {
  width: 300px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  font-size: 16px; /* Adjust font size */
}
.headerIcon {
  font-family: PP Object sans, sans-serif;
  font-style: normal;
  font-weight: 400;

  color: #211a1e !important;
  font-size: 14px;
}
.navProDrop li a {
  font-family: PP Object sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.navProDrop li a:hover {
  color: #211a1e !important;
}
.HlogOut {
  font-family: "PP Object sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #f00000 !important;
  font-size: 14px;
}
.trakNav {
  font-family: "PP Object sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #211a1e;
  font-size: 13px;
}
.trackRel {
  position: relative;
  height: max-content;
}
.trackRel::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -10px;
  right: 0;
  bottom: 0;

  height: 12px;
  width: 1px;
  background: #897c83;
}

.bannerIpOne {
  background: #fff;
  padding: 7px;
  border-radius: 30px;
}
.bannerIp {
  border: none;
  border-radius: 10px;
  padding: 5px;
  background: #f4f4f4;
}

.bannerIp input {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: #f4f4f4;
}

.bannerIp input:focus {
  border: none;
  outline: none;
  box-shadow: none;
  background: #f4f4f4;
}
@media screen and (min-width: 992px) {
  .tiraNavDropdown:hover .tiraNavMenu {
    display: flex;
  }
  .tiraNavMenu.show {
    display: flex;
  }
}
@media (max-width: 990px) {
  .searchNav,
  .tWidth {
    display: none;
  }
  .navBorder {
    position: relative;
    width: max-content;
  }

  .navBorder:hover::after {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .tiraNavMenu.show {
    min-height: 60vh;
    overflow-y: scroll;
  }
  .navDf {
    width: 100% !important;
  }
  .SeachForm {
    display: none;
  }
}
.dropdown:hover .navProDrop {
  display: block;
  opacity: 1;
  transform: translateY(0);
  color: #211a1e !important;
}
@media (min-width: 990px) {
  .navProDrop {
    transform: translate3d(-120px, 4px, 0) !important;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .navProDrop {
    transform: translate3d(-140px, 4px, 0) !important;
  }
}
@media (min-width: 486px) and (max-width: 768px) {
  .navProDrop {
    transform: translate3d(-120px, 4px, 0) !important;
  }
}

@media (max-width: 768px) {
  .trackDetails {
    display: none;
  }
}
@media (max-width: 486px) {
  .logoImg {
    width: 65px;
  }
  .navProDrop {
    transform: translate3d(-140px, 4px, 0) !important;
  }
  .bannerIpOne {
    padding: 3px;
  }
}
